

body {
  text-align: center;
  background-color: #4D4A4A;
  font-family: 'Rajdhani', sans-serif;
  background-image: url('Images/background sw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  color: black;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 70px;
  text-shadow: 2px 2px 5px gold;
  margin-bottom: 1.5em;
}

.jedi-title {

  color: #acdbfa;
  background-color: rgba(0, 0, 0, 0.4);
  transform: skew(-20deg);
  text-align: center;
  width: 78%;
  font-size: 35px;
  text-shadow: 3px 0 0 black;
  margin: auto;
}

.sith-title {

  color: crimson;
  background-color: rgba(0, 0, 0, 0.4);
  transform: skew(-20deg);
  text-align: center;
  width: 78%;
  font-size: 35px;
  text-shadow: 3px 0 0 black;
  margin: 1em 3.5em 0em 3em;
}

.jedicontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 100%;
  margin: auto;
}

.sithcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  /* background-image: url('Images/background sw.jpg'); */
  height: 100%;
  margin: auto;
}

.card {
  display: flex;
  width: 250px;
  height: 330px;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  filter: grayscale(100%);
  box-shadow: 10px 10px 5px black;
  opacity: 100%

}

.card:hover {
  filter: grayscale(0%);
}

#modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 80%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;

}

.modal-body {
  background-color: black;
  color: white;
  height: 500px;
  width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#name, #height, #mass, #birth {
  font-size: 20px;
  justify-content: center;

}

#close {
  color: crimson;
  float: right;
  font-size: 20px;
  margin-top: 9em;
}

#card1 {
  background: url('Images/Luke-skywalker-jedi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}


#card2 {
  background: url('Images/obiwan2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card3 {
    background: url('Images/leia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    flex-direction: column-reverse;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

#card4 {
  background: url('Images/bb yoda.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card5 {
  background: url('Images/Chewbacca_TLJ.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card6 {
  background: url('Images/hansolo-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card7 {
  background: url('Images/vader.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card8 {
  background: url('Images/darth maul.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card9 {
  background: url('Images/palpetine.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card10 {
  background: url('Images/Count-dooku.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card11 {
  background: url('Images/grevious.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card12 {
  background: url('Images/Anakin_Skywalker_RotS.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
}
