* {
  /* border: solid 1px gold; */
}

body {
  text-align: center;
  background-color: #4d4a4a;
  font-family: "Rajdhani", sans-serif;
  background-image: url("Images/background sw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  color: black;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 70px;
  text-shadow: 2px 2px 5px gold;
  margin-bottom: 1.5em;
}

.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 50px;
}

.carousel-images {
  background: transparent;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  margin: auto;
  background-size: cover;
  box-shadow: 10px 10px 10px black;
}

.carousel-images img {
  display: none;
  width: 100%;
  height: 50%;
  margin: auto;
  border-radius: 10px;
  background-size: cover;
}

.carousel-images img:first-of-type {
  width: 100%;
  display: block;
  background-size: cover;
}

.carousel-button {
  align-self: center;
  padding: 10px;
  text-align: center;
}

#prevbutton, #nextbutton {
  background-color: darkgrey;
  font-size: 20px;
  border-radius: 10px;
}

.jedi-title {
  color: #acdbfa;
  background-color: rgba(0, 0, 0, 0.4);
  transform: skew(-20deg);
  text-align: center;
  width: 84%;
  font-size: 35px;
  text-shadow: 3px 0 0 black;
  margin: auto;
}

.sith-title {
  color: crimson;
  background-color: rgba(0, 0, 0, 0.4);
  transform: skew(-20deg);
  text-align: center;
  width: 84%;
  font-size: 35px;
  text-shadow: 3px 0 0 black;
  margin: auto;
}

.jedicontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 100%;
  margin: auto;
  padding-bottom: 60px;
}

.sithcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  /* background-image: url('Images/background sw.jpg'); */
  height: 100%;
  margin: auto;
  padding-bottom: 40px;
}

.card {
  display: flex;
  width: 30%;
  height: 50%;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 0px;
  filter: grayscale(100%);
  box-shadow: 10px 10px 5px black;
  opacity: 100%;
}

.card:hover {
  filter: grayscale(0%);
}

#modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 80%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal-body {
  background-color: black;
  color: white;
  width: 550px;
  height: 550px;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

#name,
#height,
#mass,
#birth {
  font-size: 20px;
  justify-content: center;
}

#close {
  color: crimson;
  float: right;
  font-size: 20px;
  margin-top: 9em;
}

#card1 {
  background: url("Images/Luke-skywalker-jedi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card2 {
  background: url("Images/obiwan2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card3 {
  background: url("Images/leia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card4 {
  background: url("Images/bb yoda.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card5 {
  background: url("Images/Chewbacca_TLJ.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card6 {
  background: url("Images/hansolo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card7 {
  background: url("Images/vader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card8 {
  background: url("Images/darth maul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card9 {
  background: url("Images/palpetine.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card10 {
  background: url("Images/Count-dooku.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#card11 {
  background: url("Images/grevious.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#card12 {
  background: url("Images/Anakin_Skywalker_RotS.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
}
/* portrait for all mobile devices */
@media screen and (min-device-width: 280px) and (max-device-width: 567px){
  .jedicontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
  }

  .sithcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    /* background-image: url('Images/background sw.jpg'); */
    height: 100%;
    margin: auto;
  }

  .card {
    display: flex;
    width: 48%;
    height: 23%;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 6px;
    margin-left: 0px;
    filter: grayscale(100%);
    box-shadow: 10px 10px 5px black;
    opacity: 100%;
  }
  #card1 {
    background: url("Images/Luke-skywalker-jedi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column-reverse;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

}

@media screen and (min-device-width: 568px) and (max-device-width: 812px) {
  .jedicontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
  }

  .sithcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    /* background-image: url('Images/background sw.jpg'); */
    height: 100%;
    margin: auto;
  }

  .card {
    display: flex;
    width: 45%;
    height: 65%;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 0px;
    filter: grayscale(100%);
    box-shadow: 10px 10px 5px black;
    opacity: 100%;
  }
  #card1 {
    background: url("Images/Luke-skywalker-jedi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column-reverse;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

}

@media screen and (min-device-width: 768px) and (max-device-width: 900px) {
  .jedicontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
  }

  .sithcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    /* background-image: url('Images/background sw.jpg'); */
    height: 100%;
    margin: auto;
  }

  .card {
    display: flex;
    width: 45%;
    height: 35%;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 0px;
    filter: grayscale(100%);
    box-shadow: 10px 10px 5px black;
    opacity: 100%;
  }
  #card1 {
    background: url("Images/Luke-skywalker-jedi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column-reverse;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

}

/@media screen and (min-device-width: 1024px) and (max-device-height: 768px) {
  .jedicontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
  }

  .sithcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    /* background-image: url('Images/background sw.jpg'); */
    height: 100%;
    margin: auto;
  }

  .card {
    display: flex;
    width: 45%;
    height: 60%;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 0px;
    filter: grayscale(100%);
    box-shadow: 10px 10px 5px black;
    opacity: 100%;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-height: 1366px) {
  .jedicontainer {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    /* background-image: url('Images/star-wars-backgrounds-38.jpg'); */
    /*background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
  }

  .sithcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    /* background-image: url('Images/background sw.jpg'); */
  /*  height: 100%;
    margin: auto;
  }

  .card {
    display: flex;
    width: 45%;
    height: 35%;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 0px;
    filter: grayscale(100%);
    box-shadow: 10px 10px 5px black;
    opacity: 100%;
  }
}
*/
